version: "3.9"

services:
  trino:
    image: trinodb/trino:latest
    container_name: trino
    ports:
      - "8080:8080"
    environment:
      - JAVA_TOOL_OPTIONS=-Xms512m -Xmx1g
    volumes:
      - ./catalog:/etc/trino/catalog
    restart: unless-stopped
